body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 15px;
  font-weight: 400px;
  font-family: "Vollkorn", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
p {
  letter-spacing: 0.03em;
  line-height: 1.55em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
.container {
  width: 1110px;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.header {
  padding-top: 72px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 72px;
}
a {
  color: #000;
  text-decoration: none;
}

.place {
  font-size: 18px;
  margin-bottom: 21px;
}

.offer {
  /* margin-bottom: 98px; intro го  margin-top: 98px; жазган учун коментке алып койдум  */
  margin-top: 52px;
}
.offer-title {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  /* margin-bottom: 21px; */
}

.desc {
  font-size: 18px;
  margin-bottom: 21px;
  margin-top: 21px;
}

.btn {
  color: white;
  background: #6a85e3;
  font-size: 18px;
  padding: 18px 30px;
  font-weight: 700;
  display: block;
  width: 195px;
  text-align: center;
}
.btn:hover {
  background: #ee860f;
}
.btn:active {
  background: red;
}

.intro {
  background-color: #eaeaea;
  padding: 30px;
  width: 441px;
  margin-top: 98px;
}
.intro-title {
  font-weight: 700;
  margin-bottom: 17px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}
.bali-img {
  /* margin-right: 294px; */
}
